<template>
  <section class="py-12">
    <section-title title="Welcome" />
    <div class="text-center lg:w-full w-full">
      <p class="leading-relaxed text-base px-4 sm:px-4 lg:px-40">
        Hi, I'm Matt. I’m a highly motivated individual that’s passionate about technology. Currently, I’m a Staff Engineer focused on quality working for Dragos, embedded on a team that’s developing a complex web application and content delivery tool. I have a unique background and a wide range of professional experience, everything from web application development, test automation, and even high speed data collection for automotive testing. While I’ve had the opportunity to perform a lot of different roles over the years, I’m always eager to learn more and I’m driven by curiosity.
      </p>
    </div>
  </section>
</template>

<script>
import SectionTitle from '@/components/SectionTitle.vue'

export default {
  name: 'About',
  components: {
    'section-title': SectionTitle
  }
}
</script>
