<template>
  <section id="email-form" class="text-gray-600 body-font pt-12 pb-40">
    <section-title title="Contact" />
    <div class="container px-5 py-2 mx-auto">
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <form @submit.prevent="submitForm">
          <div v-if="!successMessage" class="flex flex-wrap -m-2">
            <div v-if="!nameError.length" class="p-2 w-1/2">
              <div class="relative">
                <input
                  id="name"
                  v-model="name"
                  type="text"
                  name="name"
                  placeholder="Name"
                  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-gray-500 focus:bg-white focus:ring-2 focus:ring-gray-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                >
              </div>
            </div>
            <div v-if="nameError.length" class="p-2 w-1/2">
              <div class="relative">
                <input
                  id="name"
                  v-model="name"
                  type="text"
                  name="name"
                  placeholder="Name is Required"
                  class="w-full bg-red-100 bg-opacity-50 rounded border border-red-300 focus:border-gray-500 focus:bg-white focus:ring-2 focus:ring-gray-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                >
              </div>
            </div>
            <div v-if="!emailError.length" class="p-2 w-1/2">
              <div class="relative">
                <input
                  id="email"
                  v-model="email"
                  type="email"
                  name="email"
                  placeholder="Email"
                  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-gray-500 focus:bg-white focus:ring-2 focus:ring-gray-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                >
              </div>
            </div>
            <div v-if="emailError.length" class="p-2 w-1/2">
              <div class="relative">
                <input
                  id="email"
                  v-model="email"
                  type="email"
                  name="email"
                  placeholder="Email is Required"
                  class="w-full bg-red-100 bg-opacity-50 rounded border border-red-300 focus:border-gray-500 focus:bg-white focus:ring-2 focus:ring-gray-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                >
              </div>
            </div>
            <div v-if="!messageError.length" class="p-2 w-full">
              <div class="relative">
                <textarea id="message" v-model="message" name="message" placeholder="Message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-gray-500 focus:bg-white focus:ring-2 focus:ring-gray-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" />
              </div>
            </div>
            <div v-if="messageError.length" class="p-2 w-full">
              <div class="relative">
                <textarea id="message" v-model="message" name="message" placeholder="Message is Required" class="w-full bg-red-100 bg-opacity-50 rounded border border-red-300 focus:border-gray-500 focus:bg-white focus:ring-2 focus:ring-gray-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" />
              </div>
            </div>
            <div class="p-2 w-full">
              <button class="flex mx-auto text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">
                Submit
              </button>
            </div>
          </div>
        </form>
        <div v-if="successMessage" class="pb-20 flex items-center justify-center">
          <div class="grid grid-cols-1">
            <div>
              <img alt="sent" src="/paper-plane-solid.svg">
            </div>
            <div class="text-4xl text-center pt-6 animate-pulse">
              Thank you!
            </div>
          </div>
        </div>
        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
          <span class="inline-flex">
            <div class="flex items-center space-x-4">
              <a id="linkedin" href="https://www.linkedin.com/in/jacobsonm1" class="focus:outline-none transition duration-500 ease-in-out transform hover:scale-110">
                <img alt="linkedin" src="/linkedIn.svg">
              </a>
              <a id="gitlab" href="https://gitlab.com/matthewjacobson" class="focus:outline-none transition duration-500 ease-in-out transform hover:scale-110">
                <img alt="gitlab" src="/gitlab.svg">
              </a>
              <a id="frustratedrobot" href="https://www.frustratedrobot.com" class="focus:outline-none transition duration-500 ease-in-out transform hover:scale-110">
                <img alt="frustratedrobot" src="/frustrated_robot.svg">
              </a>
            </div>
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SectionTitle from '@/components/SectionTitle.vue'

export default {
  name: 'Contact',
  components: {
    'section-title': SectionTitle
  },
  data () {
    return {
      successMessage: null,
      name: null,
      email: null,
      message: null,
      nameError: [],
      emailError: [],
      messageError: [],
      endpoint: 'https://formspree.io/f/xvovybwe',
      enableButton: false
    }
  },
  methods: {
    async submitForm () {
      if (this.validate()) {
        const data = {
          name: this.name,
          email: this.email,
          message: this.message
        }
        this.successMessage = await this.$axios.$post(this.endpoint, data)
      }
    },
    validate () {
      if (!this.name || !this.email || !this.message) {
        if (!this.name) {
          this.nameError.push('NAME Required')
        }
        if (!this.email) {
          this.emailError.push('EMAIL Required')
        }
        if (!this.message) {
          this.messageError.push('MESSAGE Required')
        }
        return false
      }

      this.nameError = []
      this.emailError = []
      this.messageError = []
      return true
    }
  }

}
</script>

<style scoped>
img {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
</style>
