<template>
  <section>
    <button class="flex rounded-full focus:outline-none" @click="show">
      <img alt="info" src="/info-circle-solid.svg">
    </button>
    <div class="visible md:invisible lg:invisible xl:invisible 2xl:invisible">
      <modal name="credit" height="auto" width="75%" :scrollable="true">
        <Credit />
      </modal>
    </div>
    <div class="invisible sm:invisible md:visible lg:visible xl:visible 2xl:visible">
      <modal name="credit" height="auto" width="33%" :scrollable="true">
        <Credit />
      </modal>
    </div>
  </section>
</template>

<script>
export default {
  name: 'CreditModal',
  methods: {
    show () {
      this.$modal.show('credit')
    },
    hide () {
      this.$modal.hide('credit')
    }
  }
}
</script>
