<template>
  <section>
    <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
      <div class="flex items-center mb-3">
        <img alt="gold star" src="/certificate-solid.svg">
        <h2 class="text-gray-900 text-lg title-font font-medium pl-4">
          Credit
        </h2>
      </div>
      <ul class="list-disc leading-relaxed text-sm sm:text-sm md:text-base lg:text-base xl:text-base 2xl:text-base px-3 sm:px-3 md:px-10 lg:px-10 xl:px-10 2xl:px-10">
        <li>Icons used are from fontawesome.com</li>
        <li>No changes have been made</li>
        <li><a class="no-underline hover:underline" href="https://fontawesome.com/license">License</a></li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Credit'
}
</script>
