<template>
  <section class="text-gray-600 body-font py-12">
    <div class="container px-5 mx-auto">
      <section-title title="Employers" />

      <!-- Employer 1 -->
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-transparent flex-shrink-0">
          <img alt="logo" src="/dragos.webp">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            Dragos
          </h2>
          <h3 class="text-gray-700 text-sm title-font font-medium mb-2">
            04/2021 - current | Staff Engineer (Quality)
          </h3>
          <p class="leading-relaxed text-base">
            Responsible for all testing such as functional, automated, and performance/load. Outside of my testing obligations, I also contribute regularly to other parts of the project including WAF development and infrastructure maintenance/ upgrades. Additionally, I also lead all application deployments including managing the release itself, checkout/ monitoring, and compiling all release notes.
          </p>
        </div>
      </div>

      <!-- Employer 2 -->
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            Northwestern Mutual
          </h2>
          <h3 class="text-gray-700 text-sm title-font font-medium mb-2">
            02/2017 - 04/2021 | Software Engineering Manager
          </h3>
          <p class="leading-relaxed text-base">
            Throughout my time at Northwestern Mutual, I took on multiple different roles. In my last position, I was leading a small team of developers in creating applications and integrations for the internal Test Engineering organization.
          </p>
        </div>
        <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-transparent flex-shrink-0">
          <img alt="logo" src="/nm.webp">
        </div>
      </div>

      <!-- Employer 3 -->
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-transparent flex-shrink-0">
          <img alt="logo" src="/zywave.webp">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            Zywave
          </h2>
          <h3 class="text-gray-700 text-sm title-font font-medium mb-2">
            03/2016 - 02/2017 | Software Test Engineer
          </h3>
          <p class="leading-relaxed text-base">
            Developed automated Integration and UI tests for a SaaS product, primarily in a .NET environment.
          </p>
        </div>
      </div>

      <!-- Employer 4 -->
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            Milwaukee Tool
          </h2>
          <h3 class="text-gray-700 text-sm title-font font-medium mb-2">
            10/2013 - 03/2016 | Sr. Engineering Technician
          </h3>
          <p class="leading-relaxed text-base">
            Created automated fixture software for prototype development and tool production, primarily in a LabVIEW environment.
          </p>
        </div>
        <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-transparent flex-shrink-0">
          <img alt="logo" src="/milwaukee.webp">
        </div>
      </div>

      <!-- Employer 5 -->
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-transparent flex-shrink-0">
          <img alt="logo" src="/mga.webp">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            MGA Research Corp.
          </h2>
          <h3 class="text-gray-700 text-sm title-font font-medium mb-2">
            05/2003 - 10/2013 | Automotive Crash Test Tech
          </h3>
          <p class="leading-relaxed text-base">
            Data acquisition and testing for destructive automotive tests
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SectionTitle from '@/components/SectionTitle.vue'

export default {
  name: 'Employers',
  components: {
    'section-title': SectionTitle
  }
}
</script>
