<template>
  <section class="text-gray-400 bg-gray-900">
    <div class="container mx-auto flex px-5 py-32 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-20 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class=" sm:text-5xl text-3xl mb-4 text-white name rellax" data-rellax-speed="2">
          Matthew Jacobson
        </h1>
        <p class="mb-8 leading-relaxed rellax" data-rellax-speed="1">
          Staff Engineer (Quality)
        </p>
        <div class="flex justify-center rellax" data-rellax-speed="-1">
          <button v-scroll-to="'#email-form'" class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">
            Contact
          </button>
        </div>
      </div>

      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <div class="grid grid-flow-col grid-rows-4 grid-cols-4 gap-2">
          <div class="rellax" data-rellax-speed="-1">
            <img alt="aws" class="transform scale-110 -rotate-6" src="/grey_logos/aws.webp">
          </div>
          <div class="rellax" data-rellax-speed="-3">
            <img alt="docker" class="transform scale-75 rotate-6 translate-x-2 translate-y-15" src="/grey_logos/docker.webp">
          </div>
          <div class="rellax" data-rellax-speed="1">
            <a id="repo" href="https://gitlab.com/matthewjacobson/mjacobson" class="transform translate-y-11">
              <img alt="gitlab" src="/grey_logos/gitlab.webp">
            </a>
          </div>
          <div class="rellax" data-rellax-speed="-1">
            <img alt="jira" class="transform translate-y-10" src="/grey_logos/jira.webp">
          </div>
          <div class="rellax" data-rellax-speed="-2">
            <img alt="k6" class="transform translate-x-20 translate-y-4" src="/grey_logos/k6.webp">
          </div>
          <div class="rellax" data-rellax-speed="5">
            <img alt="kube" class="transform scale-150 translate-y-8 translate-x-20" src="/grey_logos/kube.webp">
          </div>
          <div class="rellax" data-rellax-speed="-1">
            <img alt="node" class="transform -rotate-12 translate-y-24" src="/grey_logos/node.webp">
          </div>
          <div class="rellax" data-rellax-speed="2">
            <img alt="slack" class="transform translate-x-20 translate-y-4" src="/grey_logos/slack.webp">
          </div>
          <div class="rellax" data-rellax-speed="1">
            <img alt="tailwindcss" class="transform scale-50 translate-x-20" src="/grey_logos/tailwindcss.webp">
          </div>
          <div class="rellax" data-rellax-speed="-1">
            <img alt="vue" class="transform translate-y-24 " src="/grey_logos/vue.webp">
          </div>
          <div class="rellax" data-rellax-speed="-2">
            <img alt="webdriverio" class="transform translate-x-20 translate-y-4" src="/grey_logos/WDIO.webp">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Rellax from 'rellax'

export default {
  name: 'Hero',
  mounted () {
    return new Rellax('.rellax', {})
  }
}
</script>

<style scoped>
.name {
  font-family: 'Rubik Mono One', sans-serif;
}
</style>
