<template>
  <section class="py-12">
    <section-title title="Other Interests" />

    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2 px-2 lg:px-30">
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-200 rounded flex p-4 h-full items-center">
          <img alt="secret" src="/user-secret-solid.svg">
          <span class="title-font font-medium pl-2">Internet Privacy</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-200 rounded flex p-4 h-full items-center">
          <img alt="files" src="/file-solid.svg">
          <span class="title-font font-medium pl-2">IPFS</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-200 rounded flex p-4 h-full items-center">
          <img alt="download" src="/download-solid.svg">
          <span class="title-font font-medium pl-2">Progressive Web Apps (PWAs)</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-200 rounded flex p-4 h-full items-center">
          <img alt="lock" src="/lock-solid.svg">
          <span class="title-font font-medium pl-2">Web Security</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-200 rounded flex p-4 h-full items-center">
          <img alt="tachometer" src="/tachometer-alt-solid.svg">
          <span class="title-font font-medium pl-2">Application Performance</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-200 rounded flex p-4 h-full items-center">
          <img alt="database" src="/database-solid.svg">
          <span class="title-font font-medium pl-2">Data Mining</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SectionTitle from '@/components/SectionTitle.vue'

export default {
  name: 'Other',
  components: {
    'section-title': SectionTitle
  }
}
</script>
