<template>
  <section class="py-10">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-5 pt-16 border-gray-200 sm:flex-row flex-col">
      <div class="text-center lg:w-full w-full">
        <h1 class="title-font sm:text-4xl text-3xl font-medium text-gray-900">
          {{ title }}
        </h1>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SectionTitle',
  props: {
    title: {
      type: String,
      default: 'title'
    }
  }
}
</script>
