<template>
  <section class="py-12">
    <section-title title="Skills" />
    <div class="container grid grid-cols-1 gap-20 px-4 py-2 mx-auto lg:px-16 xl:px-24 md:grid-cols-2 lg:grid-cols-3">
      <div>
        <img alt="laptop" src="/laptop-code-solid.svg" class="mb-3">
        <h3 class="mb-3 text-lg font-medium leading-tight text-gray-900">
          Full Stack Web Development
        </h3>
        <p class="text-base leading-relaxed text-gray-600">
          Experienced at building web applications with multiple different technology stacks. The tooling that I’ve used includes Ruby on Rails, Vue.js, Node.js, Docker, Kubernetes, and many different AWS services.
        </p>
      </div>
      <div>
        <img alt="map" src="/sitemap-solid.svg" class="mb-3">
        <h3 class="mb-3 text-lg font-medium leading-tight text-gray-900">
          Custom Integrations
        </h3>
        <p class="text-base leading-relaxed text-gray-600">
          Data collection, ETLs, third party service integration, WAF development, and general automation.
        </p>
      </div>
      <div>
        <img alt="magic" src="/magic-solid.svg" class="mb-3">
        <h3 class="mb-3 text-lg font-medium leading-tight text-gray-900">
          Test Automation
        </h3>
        <p class="text-base leading-relaxed text-gray-600">
          Extensive experience in UI, API, and Performance test automation, and also knowledgeable in integrating these tests into CI/CD pipelines.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
import SectionTitle from '@/components/SectionTitle.vue'

export default {
  name: 'Skills',
  components: {
    'section-title': SectionTitle
  }
}
</script>
