<template>
  <div>
    <Hero />
    <About />
    <Skills />
    <Employers />
    <Other />
    <Contact />
    <CreditModal />
  </div>
</template>

<script>
import Hero from '@/components/Hero.vue'
import About from '@/components/About.vue'
import Skills from '@/components/Skills.vue'
import Employers from '@/components/Employers.vue'
import Other from '@/components/Other.vue'
import Contact from '@/components/Contact.vue'
import CreditModal from '@/components/CreditModal.vue'

export default {
  components: {
    Hero,
    About,
    Skills,
    Employers,
    Other,
    Contact,
    CreditModal
  }
}
</script>
